@media only screen and (min-width: 450px) {
    .main-listings-layout .top-listings-container{
        grid-template-columns: 1fr 1fr;
    }

    .top-listings-image-thumbnail{
        top: 100%;
        height: 55px;
    }

    .top-listings-image-thumbnail span svg{
        height: 15px;
    }

}

@media only screen and (max-width: 450px){
    .main-listings-layout .top-listings-container{
        grid-template-rows: 1fr auto;
    }

    .top-listings-image-thumbnail{
        top: 100%;
        height: 80px;
    }

    .top-listings-image-thumbnail span svg{
        height: 25px;
    }

    .top-listings-container .top-listings-project-infos{
        margin-top: 50px;
    }

}

textarea::placeholder{
    color: #fff;
}

.inquiry_form input::placeholder{
    color: #fff;
}

.main-listings-layout{
    height: 100%;
    width: 100%;
    display: flex;
   flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 5px 15px;
    padding-top: 25px;
}

.main-listings-layout .top-listings-container{
    display: grid;
    gap: 15px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-listings-layout .middle-listing-container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
}

.main-listings-layout .project-video-layout{
    width: 100%;
    height: 100%;
}

.main-listings-layout .project-inquiry{
    height: 100%;
    width: 100%;
    background-color: #696969;
    display: grid;
    grid-template-rows: 65px auto;
    gap: 25px;
    padding: 10px 15px;
}

.project-inquiry .inquiry_form{
    display: grid;
    grid-template-rows: 55px 55px 55px 55px auto 55px;
    gap: 15px;
    align-items: center;
}

.inquiry_form input{
    height: 45px;
    border: 1px solid #d9800d;
    background-color: transparent;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.inquiry_form textarea{
    border: 1px solid #d9800d;
    background-color: transparent;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.inquiry_form button{
    height: 45px;
    background-color:#d9800d;
    color: #fff;
    border: none;
    font-size: 18px;
}

.project-inquiry span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
}

.project-video-layout iframe{
    height: 300px;
    width: 100%;
}

.middle-listing-container .project-details-layout{
    display: grid;
    grid-template-rows: 55px auto;
    padding: 10px;
    border-bottom: 1px solid #A9A9A9;
}


.project-details-lyaout h3{
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.project-details-layout .project-details{
    color: #696969;
    font-size: 18px;
}

.project-details ul{
    margin-top: 10px;
    list-style: none;
}

.project-details ul li{
    font-weight: 600;
    color:#808080;
}

.project-details a{
    text-decoration: none;
    color: #d9800d;
    font-weight: 600;
    cursor: pointer;
}



.top-listings-container .top-listings-image-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.top-listings-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.top-listings-container .top-listings-project-infos{
    display:grid;
    grid-template-rows: 65px 35px 55px auto 55px;
    align-items: center;
}

.top-listings-project-infos .project-label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    /* border-bottom: 1px solid #D3D3D3; */
}

.top-listings-project-infos .project-infos{
    font-size: 18px;
    color: #696969;
    padding: 5px 10px;
    border-top: 1px solid #A9A9A9;
    margin-bottom: 10px;
}

.top-listings-project-infos .project-contact-agent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-listings-project-infos .project-contact-agent a{
    text-decoration: none;
    padding: 10px;
    background-color: #696969;
    color: #fff;
}

.top-listings-project-infos .project-price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #d9800d;
}


.top-listings-image-thumbnail{
    position: absolute;
    width: 100%;
    background-color:rgba(169, 169, 169, 0.8);
    display: grid;
    grid-template-columns: 55px 1fr 55px;
    align-items: center;
    gap: 15px;
}

.top-listings-image-thumbnail span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-listings-image-thumbnail span svg{
    fill: #fff;
}

.top-listings-image-thumbnail .images-thumbnail-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.images-thumbnail-container .thumbnail-image-project{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 2px;
}

.top-listings-project-infos .project-icon-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

.project-icon-infos .project-icon{
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
}

.project-icon span{
    display: flex;
    align-items: center;
}

.project-icon span svg{
    height: 18px;
}

.project-icon small{
    font-size: 16px;
}

